<ActionBar>
  <Label text="Home"></Label>
</ActionBar>

<DockLayout stretchLastChild="true" padding="10">
  
  <StackLayout backgroundColor="#DAF7A6">
    
    <Label class="texto_centrado" text="Página Principal" height="70" backgroundColor="#43B3F4"></Label>
    <Button text="ver perfil" [nsRouterLink]="['/verperfil']" pageTransition="slide" clearHistory="true"></Button>
    <Button text="calificaciones" [nsRouterLink]="['/calificaciones']" pageTransition="slide" clearHistory="true"></Button>
    <Button text="productos" [nsRouterLink]="['/productos']" pageTransition="slide" clearHistory="true"></Button>
    
    <Button text="Cerrar sesion" (tap)="onExit()"></Button>
  </StackLayout>
</DockLayout>